<h1>USER PROFILE</h1>
<p>User details are as follows</p>

  <p>
    <h5><%= @user.email %></h5>
   <%= "The number of times signed in : #{@user.sign_in_count}" %><br>
   <%= "The current sign in at        : #{@user.current_sign_in_at}" %><br>
   <%= "The last sign in at           : #{@user.last_sign_in_at}" %><br>
   <%= "The Current sign in IP        : #{@user.current_sign_in_ip}" %><br>
   <%= "The Last sign in IP           : #{@user.last_sign_in_ip}" %><br>
  <p>
